<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('../../../../assets/img/Odagiri028.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div>
                        <img src="../../../../assets/img/escudo-gojuryu.png" width="60" height="60" alt="">
                    </div>
                    <h1 class="presentation-title">Team Weichafe</h1>
                    <div class="fog-low">
                        <img src="../../../../assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="../../../../assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Karate Do - Goju Ryu</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        <div class="section section-dark">
            <div class="container">
                <!-- Image Showcases -->
                <section class="showcase text-light">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">

                            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                                style="background-image: url('../../../../assets/img/sensei.jpg');"></div>
                            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                                <h2>Lorem ipsum dolor</h2>
                                <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipiscing, elit porttitor
                                    penatibus ad maecenas, tellus duis hendrerit dis cum. Nunc hendrerit eget auctor hac
                                    ridiculus egestas eu, pharetra class arcu sollicitudin netus per. Placerat mattis
                                    enim sagittis phasellus at auctor egestas convallis malesuada natoque, mauris eros
                                    venenatis fermentum rhoncus dis tempus lacinia pulvinar.
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-lg-6 text-white showcase-img"
                                style="background-image: url('../../../../assets/img/kata.jpg');">
                            </div>
                            <div class="col-lg-6 my-auto showcase-text">
                                <h2>Lorem ipsum dolor</h2>
                                <p class="lead mb-0">Eu mattis pellentesque est posuere maecenas enim mus vel vivamus
                                    eleifend, semper
                                    augue cubilia ligula lectus quis hendrerit habitant potenti fusce ut, habitasse
                                    dictum proin penatibus fermentum nibh rhoncus suspendisse platea. Odio fames
                                    tristique at torquent ac venenatis porta sociosqu, cum nam penatibus faucibus
                                    suspendisse diam rhoncus, cursus luctus sagittis mi sem ornare quis. Vivamus porta
                                    tortor netus suscipit consequat hac, hendrerit viverra neque litora dictumst sem,
                                    euismod aliquet vehicula id aenean. Imperdiet tellus porta torquent at risus
                                    condimentum egestas leo, etiam ultrices cubilia dignissim aliquam conubia. Mollis ac
                                    interdum turpis dictum sed fusce parturient phasellus magna per etiam elementum,
                                    viverra nec praesent ridiculus imperdiet a natoque suspendisse varius pulvinar nibh.
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                                style="background-image: url('../../../../assets/img/martina.jpg');"></div>
                            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                                <h2>Lorem ipsum &amp; dolor</h2>
                                <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipiscing, elit porttitor
                                    penatibus ad maecenas, tellus duis hendrerit dis cum. Nunc hendrerit eget auctor hac
                                    ridiculus egestas eu, pharetra class arcu sollicitudin netus per. Placerat mattis
                                    enim sagittis phasellus at auctor egestas convallis malesuada natoque, mauris eros
                                    venenatis fermentum rhoncus dis tempus lacinia pulvinar.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- <div class="row"> -->
                <!-- Testimonials -->
                <section class="testimonials text-center text-light">
                    <div class="container">
                        <h2 class="mb-5">Contacto</h2>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3"
                                        src="../../../assets/img/escudo-gojuryu.png" alt="">
                                    <h5>Sensei</h5>
                                    <h5>Alejandro Medina</h5>
                                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3"
                                        src="../../../assets/img/escudo-gojuryu.png" alt="">
                                    <h5>Catalina Ramirez</h5>
                                    <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to
                                        create lots of
                                        super nice landing pages."</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3"
                                        src="../../../assets/img/escudo-gojuryu.png" alt="">
                                    <h5>Sarah W.</h5>
                                    <p class="font-weight-light mb-0">"Thanks so much for making these free
                                        resources available to
                                        us!"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>